/* Simple CSS reset */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Make body span whole page */
body {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
  }

/* Main div for adding pictures to */
.pic-div {
    width: 35%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

/* Make images appear smaller */
img {
    max-width: 30%;
    max-height: 30%;
  }